<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" ng-click="cancelar();"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
    <h3 class="modal-title">Adicionar Armário</h3>
</div>
<div class="modal-body">
    Você tem certeza que deseja adicionar um armário?
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="ok()">Sim</button>
    <button class="btn btn-warning" type="button" ng-click="cancelar()">Não</button>
</div>