<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" ng-click="cancelar();"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
    <h3 class="modal-title">Armário Ocupado - <%cabinet.id%></h3>
</div>
<div class="modal-body">
    <div class="row">
    	<div class="col-md-6">
        	<h4><b>Nome</b></h4> <%visitor.name | uppercase%>
        </div>
        <div class="col-md-6">
            <h4><b>CPF</b></h4> <%visitor.cpf | brCpf%>
        </div>
        <div class="col-md-6">
            <h4><b>Telefone</b></h4> <%visitor.phone | brPhoneNumber%>
        </div>
        <div class="col-md-6">
        	<h4><b>Data de Nascimento</b></h4> <%visitor.data_nascimento | date:'dd/MM/yyyy'%>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="liberar()">Liberar</button>
    <button class="btn btn-danger" type="button" ng-click="cancelar()">Cancelar</button>
</div>