<div class="container" ng-controller="cabinetCtrl">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">Armários</div>
                <div class="panel-body row">
                    <div ng-repeat="cabinet in cabinets">
                        <div class="col-md-1" style="margin-left: 5px;margin-top: 5px">
                           <a title="Armário desativado" class="btn btn-warning btn-large btn-block" style="border-radius: 0px;" ng-click="abrirArmario(cabinet.id);"><%cabinet.id%></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/controllers/cabinetController.js"></script>
<script src="js/services/cabinetAPIService.js"></script>